{% extends 'base.html' %}

{% block content %}

<main class = "container py-5">


    <section class="card card-body">
        <h1 class="display-1 text-center">homeeeeeeeeeeeeeee</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus inventore repellendus autem saepe illum accusantium quaerat possimus odit veniam odio officiis, vitae dolores sequi explicabo voluptatem dolore adipisci, asperiores eius!

        <div class="text-center">

            <a class = "btn btn-secondary" href="/signin/">
                signin
            </a>
            <a class = "btn btn-primary" href="/signup/">
                signup
            </a>
        </div>
    </section>
</main>

{% endblock %}

